<header>
  <div class="headerBrand boxContainer">
    <div class="logo">
      <img src="../../assets/logo.png" height="100px" width="100px" class="img-responsive" />
    </div>
    <div class="companyName">
      <h1>The Tourister Company</h1>
      <h4> Your guide to tourism</h4>
    </div>
  </div>
  <div class="navigationBar">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <a>Home</a>
          </li>
          <li>
            <a>Booking</a>
          </li>
          <li>
            <a>Information</a>
          </li>
          <li>
            <a>Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>