header{
    margin-top: 30px;
}
.boxContainer{
    width: 970px;
    margin-right: auto;
    margin-left: auto;
}
.headerBrand{
    height: 100px;
}
.logo{
    padding-right: 40px;
    float: left;
}
.companyName{
    float: left;
    border-left: 1px dotted #999;
    height: 100px;
}