$screenSize1 : 1200px;
$screenSize2: 992px;
$screenSize3: 768px;
$screenSize4: 480px;

header{
    margin-top: 30px;
}

.boxContainer{
    display: none;
}

@media (min-width:$screenSize4){
    .boxContainer{
        width: 970px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}

.headerBrand{
    height: 100px;
}
.logo{
    padding-right: 40px;
    float: left;
}
.companyName{
    float: left;
    border-left: 1px dotted #999;
    height: 100px;
    padding-left: 10px;
}

.navigationBar{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px dotted #999;
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;

}
@media (min-width: $screenSize3){
    .boxContainer, .navigationBar{
        width: 750px
    }
}
@media (min-width: $screenSize2){
    .boxContainer, .navigationBar{
        width: 970px;
    }
}
@media (min-width: $screenSize1){
    .boxContainer, .navigationBar{
        width: 1170px;
    }
}

ul li:hover{
    cursor: pointer;
}