.bannerDiv{
    background-image: url('../../../../assets/banner1.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.actionDiv{
    position: relative;
    left: 45%;
    top: 30%;

}