<div class="container-fluid centreText">
  <div class="jumbotron">
    <h2> Featured Sites </h2>
  </div>
  <div *ngFor="let site of featuredSites; let i = index" >
    <div *ngIf="i%2" class="row">
      <div class="col-sm-6">
        <h2>{{featuredSites[i-1].place}}</h2>
        <img src="../../assets/{{featuredSites[i-1].image}}" width="450px" height="350px"/>
        <div class="description">
        <p>{{featuredSites[i-1].description}}</p>
        </div>
      </div>
      <div class="col-sm-6">
        <h2>{{featuredSites[i].place}}</h2>
        <img src="../../assets/{{featuredSites[i].image}}" width="450px" height="350px"/>
        <div class="description">
        <p>{{featuredSites[i].description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>